TELEGRAM_BOT_TOKEN=
ADMIN_CHAT_ID=
GROUP_CHAT_ID=
TARGET_URL=https://script.google.com/macros/s/AKfycbxGySUDNbfqVOpcieRKwhVM4FD--GvVS5hkVLvJ7wMlil30SAMbMHo-wErTqVxUpXKW/exec
WEB_APP_URL=
TZ=Asia/Tashkent
DB_PATH=data/subscribers.db
RUN_ONCE=0
APPS_SCRIPT_AUTO_UPDATE=0
CLASP_WORKDIR=.
CLASP_DEPLOYMENT_ID=
